nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 50px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-evenly;
}

nav ul li a {
  color: #222;
  text-decoration: none;
  font-size: 0.8em;
}

nav .logo {
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -5px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span:nth-child(2) {
  background-color: #222;
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #222;
  border-radius: 3px;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  nav ul {
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 0;
    background-color: #4f46e5;
    height: 100vh;
    align-items: center;
    z-index: 0;
    width: 80%;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
  }

  a {
    color: #fff !important;
  }
}
