* {
  /*border: 1px solid;*/
}

body {
  font-family: 'Poppins';
  overflowx: hidden;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

.blog-index .header-blog-index {
  text-align: center;
  padding: 20px 0 0 0;
}

.blog-index {
  padding: 64px 0 40px 0;
}

.blog-index-body {
  padding: 64px 0 40px 0;
}

.blog-index-body-sidebar {
  position: relative;
  height: auto;
  max-width: 100%;
  gap: 24px;
}

.s-category {
  margin: 24px 0;
}

.s-social-media {
  margin: 24px 0;
}

.s-social-media ul li a svg {
  width: 25px;
  height: auto;
  margin-right: 24px;
}

.blog-index-body-sidebar ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.blog-index-body-sidebar ul li a {
  color: #222;
  font-size: 16px;
}

.blog-index-body-sidebar ul li {
  padding: 8px 0;
}

.list-blog-category {
  pading: 0;
  margin: 0;
}

.list-blog-category a {
  color: #322c9a;
  font-weight: 600;
  font-size: 14px;
}

.list-blog-tittle h2 {
  color: #222;
  font-weight: 700;
  font-size: 32px;
  pading: 0 !important;
  margin: 0 !important;
}

.list-blog-deskripsi {
  color: #475569;
  font-size: 16px;
  line-height: 28px;
}

.list-blog-credits svg {
  padding-right: 10px;
}

.list-blog-credits {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.list-blog-singel {
  margin-bottom: 64px;
}

.list-blog-image img {
  width: 100%;
  align-items: center;
}

.singel-blog a {
  color: #4f46e5 !important;
  text-decoration: none;
  padding: 10px 0;
  font-weight: 500;
}

.blog-body a {
  color: #4f46e5 !important;
  text-decoration: none;
  padding: 10px 0;
  font-weight: 500;
}

.blog-share a {
  margin: 0 4px;
}

.blog-share .fb-600 {
  margin: 0 10px;
  display: none;
}

.blog-share img {
  width: 15px;
  height: auto;
  padding: 5px;
  align-item: center;
}

.blog-meta {
  font-size: 12px;
}

.blog-readtime {
  display: none;
}

.singel-blog h1 {
  margin: 0 0 10px;
}

.singel-blog {
  padding: 64px 0px 40px 0px;
  margin: 0px !important;
}

.blog-share {
  align-items: center;
  display: flex;
}

.blog-body {
  padding: 64px 0 40px 0;
  position: relative;
}

.blog-body .blog-sidebar {
  position: relative;
  height: auto;
  max-width: 100%;
}

.blog-body .blog-sidebar .right {
  padding: 0 12px 0 16px;
}

.blog-box {
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 24px;
  position: relative;
}

.blog-box img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.blog-box strong {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  display: inline-block;
}

.blog-sidebar .blog-toc ul li a {
  display: block;
  padding: 4px 8px 4px 0;
  border-right: 1px solid #d0d6de;
  font-size: 14px;
  line-height: 20px;
  color: #626b79;
  text-decoration: none;
  transition: all linear 0.2s;
}

.blog-toc li {
  margin-bottom: 4px;
}

.blog-body .blog-sidebar .blog-toc ul li a:hover {
  color: #4f46e5;
}

.blog-body .blog-toc {
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 24px;
  position: relative;
}

.blog-toc .fb-600 {
  margin-bottom: 24px;
}

.blog-sidebar .blog-social {
  padding: 34px 16px 28px 16px;
}

.blog-social .fb-600 {
  margin-bottom: 20px;
}

.blog-social ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.blog-social li {
  margin-right: 18px;
}

.blog-social img {
  width: 100%;
  height: auto;
}

.blog-body .blog-article figure img {
  margin: 0;
  border-radius: 16px;
}

.blog-article img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.blog-article {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.008em;
}

.blog-cats a {
  color: #fff;
  font-size: 12px;
}

.blog-item .cat a {
  color: #fff;
  font-size: 12px;
}

.blog-item .title a {
  color: #222;
  font-size: 18px;
}

.blog-item .info {
  align-items: center;
  display: flex;
  gap: 16px;
  color: #475569;
  font-size: 14px;
}

.blog-item {
  display: block;
}

.blog-item .cat {
  font-size: 12px;
}
.blog-item .content {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}

.blog-related h2,
.blog-related h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
.blog-related .blog-item {
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.blog-cats {
  margin-bottom: 24px;
}

.blog-cats .fb-600 {
  font-size: 14px;
}

.blog-navs .text-left {
  text-align: left;
}

.blog-navs .text-right {
  text-align: right;
}

.blog-article figure {
  margin: 0 0 40px 0;
  height: auto;
}

.blog-article figure figcaption {
  text-style: mute;
  text-align: center;
  font-size: 12px;
}

.blog-body .blog-article {
  font-size: 16px;
  line-height: 28px;
}

.blog-meta {
  display: flex;
}

.blog-body .blog-sidebar .left {
  padding-right: 16px;
}

.blog-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog-body .blog-warp .col-3 {
  align-item: flex-start;
}

.counting {
  background: rgb(79, 70, 229);
  background: linear-gradient(90deg, rgba(79, 70, 229, 1) 0%, rgba(50, 44, 154, 1) 78%);
  color: #fff;
  padding: 64px 0;
}

.counting .counting-tittle h2 {
  color: #fff !important;
}

.counting-number {
  text-align: center;
  margin: 48px 0;
}

.counting-number h3 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.counting-number p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}

.contact-card-bl {
  background: #000;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  padding: 16px;
  color: #fff;
  text-align: center;
  border: 2px solid #222;
  margin-top: 8px;
}

.contact-card-tr {
  background: transparent;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  padding: 16px;
  color: #222;
  border: 2px solid #222;
  text-align: center;
  margin-top: 8px;
}

.contact-card {
  padding: 32px 0;
}

.contact-card i {
  padding: 0 8px 0 0;
}

form > div {
  position: relative;
  padding: 1.5em 0;
}

form > div input {
  color: #bebebe;
  width: 100%;
  padding: 1.5em 2em;
  border: 1px solid #bebebe;
  border-radius: 5px;
}

form > div textarea {
  color: #bebebe;
  width: 100%;
  height: 150px;
  padding: 1.5em 2em;
  border: 1px solid #bebebe;
  border-radius: 5px;
}

form > div input.input-email,
form > div input.input-password,
form > div input.input-name {
  background-repeat: no-repeat;
  background-position: right 1em top 1.25em !important;
}

form > div input.input-email {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="lightgrey" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="4"></circle><path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path></svg>');
}

form > div input.input-name {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke="lightgrey" viewBox="0 0 24 24""><path d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z"/></svg>');
}

form > div input.input-password {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="lightgrey" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="5" y="11" width="14" height="10" rx="2"></rect><circle cx="12" cy="16" r="1"></circle><path d="M8 11v-4a4 4 0 0 1 8 0v4"></path></svg>');
}

form > div input:focus,
form > div textarea:focus {
  outline-color: #4f46e5;
  border-color: #4f46e5;
}

form > div label {
  font-size: 16px;
  position: absolute;
  top: 11px;
  left: 16px;
  background: #ffffff;
  padding: 0 8px;
}

form > div:focus-within label {
  color: #2028eb;
  font-weight: 600;
}

.contact-box {
  padding: 32px 0;
}

.contact-box .btn {
  color: #ffffff;
  font-size: 16px;
  background-color: #4f46e5;
  border-color: #4f46e5;
  cursor: pointer;
  transition: all 500ms ease;
  font-weight: 500;
  padding: 16px;
  border-radius: 6px;
}

.contact-box .btn:hover,
.contact-box .btn:focus {
  background-color: #322c9a;
  border-color: #322c9a;
}

.mini-card {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2) !important;
  position: relative;
  padding: 8px;
  color: #fff;
  justify-content: center;
}

.tools-mobile-icon {
  justify-content: center;
  display: flex;
}

.tools-mobile-icon {
  justify-content: center;
}

.tools-mobile-text {
  justify-content: center;
}

.tools-mobile-text h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.tools-mobile-text p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #ec4899;
}

.tools-mobile {
  border: 2px solid #cdcdcd;
  border-radius: 6px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.tools-mobile:hover {
  border: 2px solid #ec4899;
}

.mini-card svg {
  width: 20px;
  height: auto;
}

.tools-mobile-icon svg {
  width: 25px;
  height: auto;
}

.badge-tools {
  background: #ec4899;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  border: 1px solid #cdcdcd;
  width: 10px;
  height: 10px;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: 700;
}
