:root {
  --color-white: #fff;
  --color-primary: #222222;
  --color-secondary: #ec4899;
  --color-link: #0ea5e9;
  --btn-primary: #4f46e5;
  --btn-secondary: #0ea5e9;
  --btn-border: #222;
}

* {
  box-sizing: border-box;
  /* border:1px solid black; */
}

body {
  color: var(--color-primary);
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

h1 {
  font-size: 42px;
  color: var(--color-primary);
  line-height: 56px;
  font-weight: 700;
}

h2 {
  font-size: 34px;
  color: var(--color-primary);
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  color: var(--color-primary);
  line-height: 40px;
  font-weight: 600;
}

.btn {
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
}

.counting {
  background: rgb(79, 70, 229);
  background: linear-gradient(90deg, rgba(79, 70, 229, 1) 0%, rgba(50, 44, 154, 1) 78%);
  color: #fff;
  padding: 64px 0;
}

.counting .counting-tittle h2 {
  color: #fff !important;
}

.counting-number {
  text-align: center;
  margin: 24px;
}

.counting-number h3 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.counting-number p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--btn-secondary);
  color: var(--color-white);
}

.btn-border {
  background-color: transparent;
  border: 1px solid var(--btn-border);
  color: var(--color-primary);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.new-card {
  background: #fff;
  max-width: 900px;
  border-radius: 30px;
  /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

.tools-card {
  background: #fff;
  max-width: 900px;
  border-radius: 30px;
  /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  padding: 24px 32px;
}

.profile-card {
  background: #fff;
  max-width: 900px;
  border-radius: 30px;
  /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  padding: 24px 32px;
}

.restricted-card {
  background: #fff;
  max-width: 900px;
  border-radius: 30px;
  /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  padding: 24px 32px;
}

.new-card .card-subtitle {
  font-size: 16px;
  color: var(--color-link);
}

.new-card p {
  color: var(--color-primary);
  font-weight: 300;
  margin-bottom: 16px;
}

#masthead {
  padding: 64px 0;
}

#masthead h1 {
  margin: 8px 0px;
}

#masthead .masthead-meta {
  font-size: 20px;
  font-weight: 300;
}

#masthead .card-info {
  display: block;
  font-size: 12px;
  border: 1px solid #007ecb;
  border-radius: 6px;
  padding: 12px 24px;
  font-weight: 400;
}

#masthead .masthead-right {
  text-align: center;
}

#masthead .masthead-action {
  margin: 32px 0 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

#tools {
  padding: 64px 0;
}

#tools .tools--meta {
  margin-bottom: 32px;
}

#tools h2,
h3 {
  margin: 0px 0px 8px 0px;
}

#services {
  padding: 64px 0;
}

#services .container:nth-child(n + 1) {
  margin-bottom: 64px;
}

#services .services-left {
  text-align: center;
}

#services h2,
h3 {
  margin: 0px 0px 8px 0px;
}

#services .services-action {
  margin: 32px 0 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

#benefits {
  padding: 64px 0;
}

#benefits h2,
h3 {
  margin: 0px 0px 8px 0px;
}

#benefits .benefit-start {
  margin-bottom: 48px;
}

#benefits .benefit-details .col {
  padding: 0px 24px;
}

#vip {
  padding: 64px 0;
}

#vip h2,
h3 {
  margin: 0px 0px 8px 0px;
}

#vip .vip-action {
  margin: 32px 0 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

#vip .images {
  padding: 64px;
}

#blog {
  padding: 64px 0;
}

#blog h3 {
  margin: 0px 0px 8px 0px;
}

#blog .title-blog {
  margin-bottom: 16px;
}

#cta {
  padding: 64px 0;
}

#cta .image-cta {
  text-align: center;
}

#index-tools {
  padding: 64px 0;
}

#must-signin {
  padding: 0px 0px 32px 0;
}

#must-signin .col-4 {
  text-align: center;
}

#must-signin .tools-card-action {
  margin: 32px 0 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

#must-signin .title {
  font-size: 28px;
  color: var(--color-primary);
  line-height: 40px;
  font-weight: 600;
}

#profile {
  padding: 0px 0px 32px 0;
}

#profile .profile-header {
  flex-direction: row;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

#profile .profile-image {
  width: 20%;
}

#profile .profile-bio {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
#profile .profile-username {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

#profile .profile-username .btn {
  padding: 4px 12px !important;
  font-size: 12px !important;
}

#profile .profile-username .btn-upgrade {
  background-color: var(--btn-primary);
  color: #fff;
}

#profile .profile-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
}

#profile .profile-stats span {
  font-weight: 600;
}

#profile .profile-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#profile .icon-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 32px;
}

.icon-tools .d-flex {
  justify-content: space-evenly;
}

#profile .icon-tools .icon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  width: 15%;
  text-align: center;
  align-content: center;
}

#restricted {
  padding: 0px 0px 32px 0;
}

#restricted .title {
  font-weight: 600;
}

#restricted .restricted-action {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

footer {
  padding: 64px 0;
  background: url('../stock/tex.png');
  background-color: #4f46e5;
  color: #fff;
}

footer h3 {
  color: #fff;
}

footer a {
  color: #ec4899;
}

.card-border-yellow {
  border: 1px solid #ffd70085;
}

.blog-share a {
  margin: 0 4px;
}

.blog-share .fb-600 {
  margin: 0 10px;
}

.blog-share img {
  width: 40px;
  height: auto;
  padding: 5px;
  align-item: center;
}

.singel-blog h1 {
  margin: 0 0 10px;
}

.singel-blog {
  padding: 64px 0 40px 0;
}

.blog-share {
  align-items: center;
  display: flex;
}

.blog-body {
  padding: 64px 0 40px 0;
  position: relative;
}

.blog-body .blog-sidebar {
  position: relative;
  height: auto;
  max-width: 100%;
}

.blog-body .blog-sidebar .right {
  padding: 0 12px 0 16px;
}

.blog-box {
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 24px;
  position: relative;
}

.blog-box img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.blog-box strong {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  display: inline-block;
}

.blog-sidebar .blog-toc ul li a {
  display: block;
  padding: 4px 8px 4px 16px;
  border-right: 1px solid #d0d6de;
  font-size: 14px;
  line-height: 20px;
  color: #626b79;
  text-decoration: none;
  transition: all linear 0.2s;
  border-left: 4px solid #fff;
  transition: 0.5s;
  transition-timing-function: linear;
}

.blog-toc {
  border: 1px solid #6ec1e4;
  border-radius: 10px;
}

.blog-toc li {
  margin-bottom: 4px;
}

.blog-body .blog-sidebar .blog-toc ul li a:hover {
  border-left: 4px solid #c43e80;
  color: #c43e80;
}

.blog-body .blog-toc {
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 24px;
  position: relative;
}

.blog-toc .fb-600 {
  margin-bottom: 24px;
}

.blog-sidebar .blog-social {
  padding: 34px 16px 28px 16px;
}

.blog-social .fb-600 {
  margin-bottom: 20px;
}

.blog-social ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.blog-social li {
  margin-right: 18px;
}

.blog-social img {
  width: 100%;
  height: auto;
}

.blog-body .blog-article figure img {
  margin: 0;
  border-radius: 16px;
}

.blog-article img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.blog-cats a {
  color: #fff;
  font-size: 12px;
}

.blog-item .cat a {
  color: #fff;
  font-size: 12px;
}

.blog-item .title a {
  color: #222;
  font-size: 18px;
}

.blog-item .info {
  align-items: center;
  display: flex;
  gap: 16px;
  color: #475569;
  font-size: 14px;
}

.blog-item {
  display: block;
}

.blog-item .cat {
  font-size: 12px;
}
.blog-item .content {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}

.blog-related h2,
.blog-related h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
.blog-related .blog-item {
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.blog-cats {
  margin-bottom: 24px;
}

.blog-cats .fb-600 {
  font-size: 14px;
}

.blog-navs .text-left {
  text-align: left;
}

.blog-navs .text-right {
  text-align: right;
}

.blog-article figure {
  margin: 0 0 40px 0;
  height: auto;
}

.blog-article figure figcaption {
  text-style: mute;
  text-align: center;
  font-size: 12px;
}

.blog-body .blog-article {
  font-size: 14px;
  line-height: 28px;
}

.blog-meta {
  display: flex;
}

.blog-body .blog-sidebar .left {
  padding-right: 16px;
}

.blog-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog-body .blog-warp .col-3 {
  align-item: flex-start;
}

.blog-index .header-blog-index {
  text-align: center;
  padding: 20px 0 0 0;
}

.blog-index {
  padding: 64px 0 40px 0;
}

.blog-index-body {
  padding: 64px 0 40px 0;
}

.blog-index-body-sidebar {
  position: relative;
  height: auto;
  max-width: 100%;
  gap: 24px;
}

.s-category {
  margin: 24px 0;
}

.s-social-media {
  margin: 24px 0;
}

.s-social-media ul li a svg {
  width: 25px;
  height: auto;
  margin-right: 24px;
}

.blog-index-body-sidebar ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.blog-index-body-sidebar ul li a {
  color: #222;
  font-size: 16px;
}

.blog-index-body-sidebar ul li {
  padding: 8px 0;
}

.list-blog-category {
  pading: 0;
  margin: 0;
}

.list-blog-category a {
  color: #ec4899;
  font-weight: 600;
  font-size: 14px;
}

.list-blog-tittle h2 {
  color: #222;
  font-weight: 700;
  font-size: 32px;
  pading: 0 !important;
  margin: 0 !important;
}
.list-blog-deskripsi {
  color: #475569;
  font-size: 16px;
  line-height: 28px;
}

.list-blog-credits svg {
  padding-right: 10px;
}

.list-blog-credits {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.list-blog-singel {
  margin-bottom: 64px;
}

.list-blog-image img {
  width: 100%;
  align-items: center;
}

.pc {
  color: #ec4899 !important;
}
.sc {
  color: #64748b !important;
}
.tc {
  color: #0ea5e9 !important;
}
.ppc {
  color: #4f46e5 !important;
}
.wc {
  color: #fff !important;
}
.slide-600 {
  color: #475569 !important;
}
body {
  font-family: 'Poppins', sans-serif;
}
.fb-900 {
  font-weight: 900;
}
.fb-800 {
  font-weight: 800;
}
.fb-700 {
  font-weight: 700;
}
.fb-600 {
  font-weight: 600;
}
.fb-500 {
  font-weight: 500;
}
.fb-400 {
  font-weight: 400;
}
.fb-300 {
  font-weight: 300;
}
.fb-200 {
  font-weight: 200;
}
.fb-100 {
  font-weight: 100;
}

.btn-new {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-style: solid;
  border-radius: 10px;
  border-color: #ec4899;
  color: #fff;
  background-color: #ec4899;
}
.btn-new-sc {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-style: solid;
  border-radius: 10px;
  border-color: #2d2c31;
  color: #fff;
  background-color: #2d2c31;
}
.btn-new-tc {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-style: solid;
  border-radius: 10px;
  border-color: #007ecb;
  color: #fff;
  background-color: #007ecb;
}
.btn-new-tc-tr {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-style: solid;
  border-radius: 10px;
  border-color: #007ecb;
  color: #007ecb;
  background-color: transparent;
}
.btn-purple {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #4f46e5;
  color: #fff;
  background: #4f46e5;
}
.btn-new-bl {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-radius: 10px;
  border-color: #000;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  //border-bottom: 2px solid #000 !important;
}
.badge-new-ppc {
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  border-style: solid;
  border-radius: 10px;
  border-color: #8781ed;
  color: #fff;
  background-color: #8781ed;
  margin: 4px;
  //border-bottom: 2px solid #000 !important;
}
.badge-new-tc {
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  border-style: solid;
  border-radius: 10px;
  border-color: #5ac1f0;
  color: #fff;
  background-color: #5ac1f0;
  margin: 4px;
  //border-bottom: 2px solid #000 !important;
}
.badge-new-pc {
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  border-style: solid;
  border-radius: 10px;
  border-color: #f38dbf;
  color: #fff;
  background-color: #f38dbf;
  margin: 4px;
  //border-bottom: 2px solid #000 !important;
}
.badge-new-bl {
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  border-style: solid;
  border-radius: 10px;
  border-color: #000;
  color: #fff;
  background-color: #000;
  margin: 4px;
  //border-bottom: 2px solid #000 !important;
}

a {
  text-decoration: none;
  transition: all linear 0.2s;
}

.blog-toc li {
  margin-bottom: 4px;
}

.blog-body .blog-sidebar .blog-toc ul li a:hover {
  color: #4f46e5;
}

.blog-body .blog-toc {
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 24px;
  position: relative;
}

.blog-toc .fb-600 {
  margin-bottom: 24px;
}

.blog-sidebar .blog-social {
  padding: 34px 16px 28px 16px;
}

.blog-social .fb-600 {
  margin-bottom: 20px;
}

.blog-social ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.blog-social li {
  margin-right: 18px;
}

.blog-social img {
  width: 100%;
  height: auto;
}

.blog-body .blog-article figure img {
  margin: 0;
  border-radius: 16px;
}

.blog-article img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.blog-cats a {
  color: #fff;
  font-size: 12px;
}

.blog-item .cat a {
  color: #fff;
  font-size: 12px;
}

.blog-item .title a {
  color: #222;
  font-size: 18px;
  font-weight: 600;
}

.blog-item .info {
  align-items: center;
  display: flex;
  gap: 16px;
  color: #475569;
}
.blog-item .info span {
  font-size: 12px;
}

.blog-item {
  display: block;
}

.blog-item .cat {
  font-size: 12px;
}
.blog-item .content {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}

.blog-related h2,
.blog-related h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
.blog-related .blog-item {
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.blog-cats {
  margin-bottom: 24px;
}

.blog-cats .fb-600 {
  font-size: 14px;
}

.blog-navs .text-left {
  text-align: left;
}

.blog-navs .text-right {
  text-align: right;
}

.blog-article figure {
  margin: 0 0 40px 0;
  height: auto;
}

.blog-article figure figcaption {
  text-style: mute;
  text-align: center;
  font-size: 12px;
}

.blog-body .blog-article {
  font-size: 14px;
  line-height: 28px;
}

.blog-body .blog-sidebar .left {
  padding-right: 16px;
}

.blog-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog-body .blog-warp .col-3 {
  align-item: flex-start;
}

.login .login-form {
  margin: 0 64px;
}

.login {
  padding: 64px 0;
}

.login-form input[type='text'],
select {
  width: 100%;
  padding: 10px 20px;
  margin: 0 8px 8px 0;
  display: block;
  border: 1px solid;
  border-color: #222;
  border-radius: 6px;
  box-sizing: border-box;
}

.card-info {
  border: 1px solid #007ecb;
  border-radius: 5px;
  padding: 8px 10px;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  width: 115px;
}

.new-card-sm {
  background: #fff;
  max-width: 600px;
  border-radius: 30px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.new-card-gar-tc {
  background: rgb(14, 165, 233);
  background: linear-gradient(90deg, rgba(14, 165, 233, 1) 0%, rgba(0, 126, 203, 1) 88%);
  max-width: 900px;
  border-radius: 30px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.new-card-gar-pc {
  background: rgb(79, 70, 229);
  background: linear-gradient(90deg, rgba(79, 70, 229, 1) 0%, rgba(50, 44, 154, 1) 78%);
  max-width: 900px;
  border-radius: 30px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2);
  position: relative;
}

input[type='text'],
select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: block;
  border: 2px solid;
  border-color: #64748b;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #4f46e5;
}

.new-card-br {
  background: #fff;
  max-width: 900px;
  max-height: 700px;
  padding: 20px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2);
  display: block;
  border: 2px solid;
  border-color: #64748b;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
.badge-new-ppc-hashtag {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 1.2em;
  border: 1px solid;
  border-radius: 10px;
  border-color: #8781ed;
  color: #fff;
  position: relative;
  background-color: #000;
  margin: 2px;
  display: inline-block;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 0px 3px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: transparent;
}

.none {
  display: none;
}

.contact-card-bl {
  background: #000;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  padding: 16px;
  color: #fff;
  text-align: center;
  border: 2px solid #222;
}

.contact-card-tr {
  background: transparent;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  padding: 16px;
  color: #222;
  border: 2px solid #222;
  text-align: center;
}

.contact-card {
  padding: 32px 0;
}

.contact-card i {
  padding: 0 8px 0 0;
}

form > div {
  position: relative;
  padding: 1.5em 0;
}

form > div input {
  color: #bebebe;
  width: 100%;
  padding: 1.5em 2em;
  border: 1px solid #bebebe;
  border-radius: 5px;
}

form > div textarea {
  color: #bebebe;
  width: 100%;
  height: 150px;
  padding: 1.5em 2em;
  border: 1px solid #bebebe;
  border-radius: 5px;
}

form > div input.input-email,
form > div input.input-password,
form > div input.input-name {
  background-repeat: no-repeat;
  background-position: right 1em top 1.25em !important;
}

form > div input.input-email {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http: ; //www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="lightgrey" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="4"></circle><path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path></svg>');
}

form > div input.input-name {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke="lightgrey" viewBox="0 0 24 24""><path d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z"/></svg>');
}

form > div input.input-password {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="lightgrey" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="5" y="11" width="14" height="10" rx="2"></rect><circle cx="12" cy="16" r="1"></circle><path d="M8 11v-4a4 4 0 0 1 8 0v4"></path></svg>');
}

form > div input:focus,
form > div textarea:focus {
  outline-color: #4f46e5;
  border-color: #4f46e5;
}

form > div label {
  font-size: 16px;
  position: absolute;
  top: 11px;
  left: 16px;
  background: #ffffff;
  padding: 0 8px;
}

form > div:focus-within label {
  color: #2028eb;
  font-weight: 600;
}

.contact-box {
  padding: 32px 0;
}

.contact-box .btn {
  color: #ffffff;
  font-size: 16px;
  background-color: #4f46e5;
  border-color: #4f46e5;
  cursor: pointer;
  transition: all 500ms ease;
  font-weight: 500;
}

.contact-box .btn:hover,
.contact-box .btn:focus {
  background-color: #322c9a;
  border-color: #322c9a;
}

.list-blog-navbar {
  padding: 16px 0;
}

.list-blog-navbar nav ul li {
  margin: 0 16px;
}

.list-blog-navbar nav ul {
  justify: space-evenly;
}

.list-blog-navbar nav ul li a {
  font-size: 16px;
  font-weight: 500;
  border: 3px solid #fff;
  padding: 16px;
  transition: 0.75s;
}

.list-blog-navbar nav ul li a:hover {
  color: #4f46e5;
  border-bottom: 3px solid #4f46e5;
}

.page-404 {
  align-items: center;
}

.page-404-content {
  display: block;
  text-align: center;
}

.page-404-button {
  text-align: center;
  display: block;
  margin: 32px 0;
}

.page-404-button .btn {
  margin: 16px 8px;
}

.card-gradient {
  margin: 0 0 32px 0;
}

.card-new-pink {
  background: #c43e80;
  max-width: 900px;
  max-height: 300px;
  border-radius: 30px;
  /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.175) !important;
  position: relative;
  padding: 16px 12px 16px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

.card-gradient img {
  width: 120%;
}

.card-gradient h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.ccard-gradient .subtittle {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 22px;
}

.card-new-purple {
  background: #3c8ac2;
  max-width: 900px;
  max-height: 300px;
  border-radius: 30px;
  /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.175) !important;
  position: relative;
  padding: 16px 12px 16px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

.card-gradient img {
  width: 120%;
  z-index: 2;
}

.card-gradient h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.card-gradient .subtittle {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 22px;
}

.absolute {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.05;
}

.absolute-100 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.card-new-black {
  background: #2a2a2a;
  max-width: 900px;
  max-height: 300px;
  border-radius: 30px;
  /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.175) !important;
  position: relative;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  color: #fff;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

.card-new-black h3 {
  color: #fff;
}

.bg-black {
  background-color: #cdf0f9;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}

.highlight {
  color: var(--color-secondary);
  margin: 16px 0;
  pading: 0;
}

.highlight h2 {
  margin: 0;
  pading: 0;
  line-height: 28px;
}

.card-new-border {
  background: transparent;
  max-width: 900px;
  max-height: 300px;
  border: 2px solid #3c8ac2;
  border-radius: 30px;
  /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.175) !important;
  position: relative;
  padding: 16px 12px 16px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

.black {
  color: #222 !important;
}

.card-gradient .button {
  margin: 12px 0;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #c43e80;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.card-gradient .button a {
  color: #fff;
}
